@using Microsoft.AspNetCore.Identity
@using Webapp.Areas.Identity.Data
@inject SignInManager<WebappUser> SignInManager
@inject UserManager<WebappUser> UserManager
@model Post
@if (SignInManager.IsSignedIn(User))
{
    <h2>Form</h2>
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary"> Create Post</h2>
                <hr />
                <div class="mb-3 row">
                    <label asp-for="name">Title</label>
                    <input asp-for="name" class="form-control" type="text" value="@UserManager.GetUserName(User)" />
                    <span asp-validation-for="name" class="text-danger"></span>

                </div>
                <div class="mb-3 row">
                    <label asp-for="title">Title</label>
                    <input asp-for="title" class="form-control" type="text" />
                    <span asp-validation-for="title" class="text-danger"></span>

                </div>
                <div class="mb-3 row">
                    <label asp-for="description"></label>
                    <textarea asp-for="description" class="form-control" ></textarea>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary col-6" type="submit" style="width:150px">
                            Create
                        </button>
                    </div>

                    <div class="col-6">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
                            GO-BACK
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <form id = "logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id = "login" type="submit" class="nav-link btn btn-primary text-dark">Login</button>
        </form>
}